<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCgo9ijSQ0F3e05JKvn_ZW1nbx2zjX11ng</string>
	<key>GCM_SENDER_ID</key>
	<string>231008603096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>firebase-test-jeremiah</string>
	<key>STORAGE_BUCKET</key>
	<string>firebase-test-jeremiah.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:231008603096:ios:572923438a00ee0e8100ad</string>
</dict>
</plist>